<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<div class="content" role="main">

<span style="color:red; font-weight:bold">{{title}} esta ejecutandose y sera una gran aplicacion</span>
<br/>
<span>Saludos: {{saludos}}</span>
<br/>
<app-empleados></app-empleados>
<app-empleado></app-empleado>
<app-empleado></app-empleado>
<app-empleado></app-empleado>
</div>

<router-outlet></router-outlet>
